__pycache__/
*.py[cod]
*.so
*.egg-info/
.ipynb_checkpoints/

.venv/
venv/
.env

outputs/
reports/
artifacts/
.cache/
.pytest_cache/

.DS_Store
Thumbs.db

*.Identifier
*Zone.Identifier
*.Zone.Identifier

data/*
!data/.gitkeep
!data/README.md